.container
 .row
   .col-md-8.col-md-offset-2
       h1 List of Cats
       form(action='/users', method='POST')
         .input-group
           input.form-control.add-todo(name="username", type='text', placeholder='Add cat', autofocus)
           span.input-group-btn
             button#checkAll.btn.btn-primary Add Cat
       hr
       ul#sortable.list-unstyled.list-group.list-users
         each cat in cats
           li.list-group-item
             .content
               p= cat.name
               form.edit-form
                 input.input-lg.hidden
             .edition
               a.btn.btn-primary.edit
                 i.glyphicon.glyphicon-edit
               a.btn.btn-danger.remove
                 i.glyphicon.glyphicon-remove